body {
    background-image: url(https://source.unsplash.com/l5n7jmRJwBY/1920x2280);
    
}
.card{
    margin: auto;
    margin-top: 50px;
    height: 400px;
    background-color: rgba(32, 35, 59, .5);
    color: white;
    font-family: "Caveat";
    border-radius: 10px;
}
/* Options Styling */
.location .city {
    font-size: 32px;
}
.location .date {
    font-size: 20px;
}
.current .temp {
    font-size: 8vh;
}
.current .weather {
    font-size: 32px;
}
.current .hi-low {
    font-size: 30px;
}
/* End of Options Styling */
.card-img-top {
    height: 400px;
    padding: 10px;
    border-radius: 5%;
}
.card-body {
    height: 5px;

}
ul {
    height: 330px;
    text-align: center;
}
.input-box {
    width: 368px;
    background-color: rgb(0, 127, 55);
    border-radius: 10px;
    border: none;
    font-size: 3vh;
}
/* Indepth look styles */
.depth {
    height: 150px;
    text-align: center;
    font-size: 4vh;
    color:black;
    background-color: rgba(0, 253, 110,.5);
}
span {
    color:white;
}
.uv {
    
    background-color: rgb(255, 255, 255);
}

/* 5 day forecast containers styling */
.forecast {
    height: 200px;
    background-color: rgb(226, 105, 24);
   
}
